.title {
  font-size: 60px;
  font-weight: 300;
}

.inputs-container {
  display: flex;
  justify-content: flex-start;
}

table select {
  display: none;
}


table .taskStateText {
  display: block;
}

.editTable select {
  display: block;
}


.editTable .taskStateText {
  display: none;
}

table .dateSelect {
  display: none;
}

.editTable .dateSelect {
  display: block;
}

.editTable .date {
  display: none;
}

#table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #dddddd;
  margin-top: 20px;

}

#delete {
display:none;
margin-left: 2px;
}

#edit {
margin-left: 2px;
}

#save {
  display: none;
  margin-left: 2px;
}



th {
  cursor: pointer;
}

th,td {
  border: 1px solid #dddddd;
  padding: 8px;
}

select {
  width: 100%;
}